
.main-header {

    font-family: $headingFont;
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.3);

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    a {

        color: $textColour;

        &:link {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }

        &:active {
            text-decoration: none;
        }
    }

}

.site-title {
    font-weight: 600;

    span {
        color: $highlightColour;
    }
}

.main-nav {
    font-weight: 400;

    ul {
        margin: 1em 0 .5em;
        text-align: center;
        //display: none;
    }

    li {
        display: inline;
        text-decoration: none;
    }

    a {
        display: inline-block;
        padding: .5em 1.5em;
        color: $textColour;

        &:link {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }

        &:active {
            text-decoration: none;
        }
    }
    
}
